.about {
  background: var(--co-white);
  padding: 180px 0 60px 0;
}

.about__subtitle {
  color: var(--co-light-black);
  font-size: 24px;
  font-weight: 600;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.about__title {
  max-width: 500px;
  color: var(--co-light-green);
  font-size: 50px;
  font-weight: 700;
}

.about__desc {
  max-width: 670px;
  color: var(--co-light-black);
  font-size: 20px;
  font-weight: 500;
}

.about__card {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.about__card .card:nth-child(2) {
  margin: 240px 0 0 0;
}

@media (max-width: 1250px) {
  .about__subtitle {
    max-width: 600px;
    text-align: center;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
  }
  .about__card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__card .card:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .about__content {
    padding: 0 15px;
  }

  .about__title {
    font-size: 35px;
  }

  .about__desc {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    .about__card {
      gap: 100px;
    }
    .about__card {
      margin: 180px 0 0 0;
    }
  }
}
